<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIT0001</title>
</head>
<body>
    <button onclick="confirmAction('/control/restart_bit', 'Restart BIT Program?')">Restart BIT</button>
    <button onclick="confirmAction('/control/reboot', 'Reboot System?')">Reboot System</button>

    <script>
        function confirmAction(url, message) {
            if (confirm(message)) {
                location.href = url;
            }
        }
    </script>
</body>
</html>