{% extends 'base.html' %}
 
{% block content %}
<h1>405 Method Not Allowed</h1>
<p>허용되지 않는 Method 입니다.</p>
<hr>
<p id="desc"></p>
<a href="/">홈으로</a><br>

<script>
    let time = 10, desc = document.getElementById('desc');
    const updateDesc = () => desc.innerText = ` ${time}초 후 자동으로 이동합니다 . . .`;
    updateDesc();

    const intervalId = setInterval(() => {
        time--;
        time > 0 ? updateDesc() : clearInterval(intervalId);
    }, 1000);

    setTimeout(() => location.href = '/', time * 1000);
</script>
{% endblock %}