{% extends 'base.html' %}
 
{% block content %}
<title>너희들이 원하는 딸배노래</title>
<style>
    video-containor {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
    }

    #secret-video {
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    #boruemdal-button {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
    }
</style>

<div "video-containor">
    <video id="secret-video" controls autoplay>
        <source src="{{ url_for('static', filename='5ebe2294ecd0e0f08eab7690d2a6ee69.mp4') }}" type="video/mp4">
    </video>

    <div id="boruemdal-button">
        <button onclick="changeVideoCurrentTime(0)">우리둘이</button>
        <button onclick="changeVideoCurrentTime(145)">아침까지</button>
        <button onclick="changeVideoCurrentTime(362.5)">보름달</button>
        <button onclick="changeVideoCurrentTime(519)">-</button>
        <button onclick="location.href='/'">홈으로</button>
    </div>
</div>

<script>
    const video = document.getElementById('secret-video');

    function changeVideoCurrentTime(currentTIme) {
        video.currentTime = currentTIme;
        video.play();
    }
</script>

{% endblock %}