{% extends 'base.html' %}
 
{% block content %}
<h1>사용자 관리</h1>
<hr>

<h3>사용자 목록</h3>
<p>등록된 사용자 목록입니다. <a href='/user'>새로고침</a></p>
<table id="accounts-table" class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">아이디</th>
            <th scope="col">계정이름</th>
            <th scope="col">계정권한</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            {% if account['id'] == client_id %}
                <th scope="row">나</th>
            {% else %}
                <th scope="row"></th>
            {% endif %}
            <td>{{ account['id'] }}</td>
            <td>{{ account['name'] }}</td>
            <td>{{ account['level'] }}</td>
        </tr>              
        {% endfor %}
    </tbody>
</table>
<hr>

<h3><a href='/user/regi'>사용자 추가</a></h3>
<p>로그인 시 사용할 계정을 등록하세요.</p>

<h3><a href='/user/delete'>사용자 삭제</a></h3>
<p>계정을 삭제하세요.</p>

<hr>
<a href="/">홈으로</a>
{% endblock %}